
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./sp3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.titulo{
    display:block;
    margin:inherit;
    height: 150px;
    padding: 15px 0;
    color:rgb(255, 247, 142);
    text-align: center;
    font-family:'Audiowide', sans-serif;
    font-size: 90px;
    text-shadow: 2px 2px 5px black;
    position: relative;
}

.bandeira{
    position: absolute;
    background-image: url(./bandeira.jpg);
    background-size: cover;
    right: 400px;
    top: 10px;
    width: 50px;
    height: 35px;
    border-radius: 5px;
}

.resumo{
    display: block;
    margin: 0 150px 40px 150px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(43, 40, 40);
    color: rgb(255, 247, 142);
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    box-shadow: 0  5px 10px black;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.topico{
    display:block;
    margin: inherit;
    margin: 20px 0 ;
    height: 50px;
    padding: 5px;
    color: rgb(255, 247, 142);
    text-align: center;
    font-family:'Audiowide', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
}

.lista{
    display: block;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 20px;
    padding: 20px 90px;
    background-color: rgb(43, 40, 40);
    color: rgb(255, 247, 142);
    text-align:center;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0  5px 10px black;


}

footer{
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;

}

.logo{
    margin: 20px;
    width: 70px;
    height: 70px;
    
}

li{
    padding: 20px;
}
